<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rasool.ehsanvoice">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ehsonvoice"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayBackActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >

        </activity>
        <activity android:name=".ChangeCategory"></activity>
        <activity android:name=".UpdateMessages" />
        <activity android:name=".CategoriesUpdate"
            android:windowSoftInputMode="stateVisible"
        />
        <activity android:name=".SentencesDictionary" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity android:name=".AddNewCategory" />
        <activity android:name=".AddNewMessage" />
        <activity android:name=".CategoryDetails" />
        <activity
            android:name=".Help"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Services.RecordingServices" />
    </application>

</manifest>